@tailwind utilities;

@font-face {
  font-family: 'ProximaRegular';
  src: url('./fonts/ProximaNova-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ProximaLight';
  src: url('./fonts/ProximaNova-Light.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ProximaBold';
  src: url('./fonts/ProximaNova-Bold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
  font-display: swap;
}

@layer base {
  body {
    @apply text-black-color font-montserrat;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply m-0 font-normal;
  }

  ul {
    @apply list-none pl-0 m-0;
  }

  li {
    @apply m-0;
  }

  a {
    @apply no-underline text-black-color;
  }

  button {
    @apply m-0 p-0 border-2 border-secondary-color rounded-md cursor-pointer;
  }
}

/* Кастомные стили для Swiper */
.swiper-button-prev,
.swiper-button-next {
  color: #a1bfba !important;
}

.swiper-pagination-bullet {
  background-color: #a1bfba !important;
}

.swiper-pagination-bullet-active {
  background-color: #a1bfba !important;
}
